<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Map</title>
    <style>
        #app {
            text-align: center;
        }

        td {
            width: 40px;
            height: 40px;
        }

        td:hover {
            background: #f00;
            cursor: pointer;
        }

        .color_0 {
            background: #f00;
        }

        .color_6 { /* for path */
            background: greenyellow;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <table border="1">
                    <tbody>
                    <tr v-for="row in viewBattleground">
                        <td v-for="(value, key, index) in row"
                            v-bind:class="'color_'+value.type"
                            v-bind:id="value.id"
                            v-on:click.left="select(value.id)"
                            v-on:dblclick.left="move(value.id)"
                        ><img v-bind:src="value.value" height="40px" width="40px"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                Select ID: {{ selectId }}
            </div>
        </div>
    </div>
</div>

<script src="js/pathFinding.js"></script>
<script src="js/vue.js"></script>
<script src="levels.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            height: 0,
            width: 0,
            types: {SELECT: 0, PASSABLE: 1, ROCK: 2, MONSTER: 3, TREASURE: 4, PLAYER: 5, PATH: 6},
            viewBattleground: [],
            map: level1,
            selectId: 0,
            playerPositionId: 0,
            path: []
        },
        created: function () {
            this.height = this.map['height'];
            this.width = this.map['width'];

            let id = 0;
            for (let y = 0; y <= this.height - 1; y++) {
                let columns = new Array(this.width - 1);
                Vue.set(this.viewBattleground, y, columns);
                for (let x = 0; x <= this.width - 1; x++) {
                    let cell = this.map[id];
                    this.set(y, x, {'id': id, 'type': cell['type'], 'value': cell['value']});
                    id++;
                }
            }

            this.set(0, 0, {'id': 0, 'type': this.types.PLAYER, 'value': 'knight.png'});
        },
        methods: {
            set: function (y, x, value) {
                Vue.set(this.viewBattleground[y], x, value);
            },
            setType: function (y, x, type) {
                Vue.set(this.viewBattleground[y][x], 'type', type);
            },
            setValue: function (y, x, value) {
                Vue.set(this.viewBattleground[y][x], 'value', value);
            },
            getId: function (y, x) {
                return y * this.width + x;
            },
            getY: function (id) {
                return Math.floor(id / this.height)
            },
            getX: function (id) {
                return id % this.height;
            },
            select: function (id) {
                this.cleanPath();

                this.setType(this.getY(this.selectId), this.getX(this.selectId), this.types.PASSABLE);
                this.selectId = id;
                this.setType(this.getY(id), this.getX(id), this.types.SELECT);

                this.generatePath(id);
                if (this.path.length > 0) {
                    for (let i = 0; i < this.path.length; i++) {
                        let x = this.path[i][0];
                        let y = this.path[i][1];
                        this.setType(y, x, this.types.PATH);
                    }
                }
            },
            move: function (id) {
                this.cleanPath();
                this.generatePath(id);
                if (this.path.length > 0) {
                    let y = this.getY(this.playerPositionId);
                    let x = this.getX(this.playerPositionId);
                    this.set(y, x, {'id': this.playerPositionId, 'type': this.types.PASSABLE, 'value': 'ground.png'});

                    this.playerPositionId = id;

                    y = this.getY(id);
                    x = this.getX(id);
                    this.set(y, x, {'id': id, 'type': this.types.PLAYER, 'value': 'knight.png'});
                }
            },
            generatePath: function (id) {
                let player = this.map[this.playerPositionId];
                // console.log('Player x:' + player['x'] + ' y:' + player['y']);
                let target = this.map[id];
                // console.log('Target x:' + target['x'] + ' y:' + target['y']);

                let matrix = [];
                for (let y = 0; y < this.height; y++) {
                    let columns = new Array(this.width);
                    matrix.push(columns);
                    for (var x = 0; x < this.width; x++) {
                        let type = this.viewBattleground[y][x].type;
                        if (
                            type === this.types.PASSABLE ||
                            type === this.types.PLAYER ||
                            type === this.types.SELECT ||
                            type === this.types.PATH
                        ) {
                            matrix[y][x] = 0;
                        } else {
                            matrix[y][x] = 1;
                        }
                    }
                }

                let finder = new AStarFinder(matrix);
                this.path = finder.findPath(player['x'], player['y'], target['x'], target['y']);
                // console.log('Path:' + path);
            },
            cleanPath: function () {
                if (this.path.length > 0) {
                    for (let i = 0; i < this.path.length; i++) {
                        let x = this.path[i][0];
                        let y = this.path[i][1];
                        this.setType(y, x, this.types.PASSABLE);
                    }
                }
            }
        }
    });

</script>
</body>
</html>